PA3/Borglum/borglum_all.nc
PA3/Borglum/meso_Borglum.csv
PA3/Risoe/meso_Risoe.csv
PA3/Risoe/risoe_m_all.nc
PA3/Data/Borglum/meso_Borglum.csv
PA3/Data/Risoe/meso_Risoe.csv
PA5/Data/alldata.xlsx
PA5/Data/drdata.xlsx
PA5/Data/drq.xlsx
PA5/Data/electeddata.xlsx
PA5/Data/tv2data.xlsx
PA5/Data/tv2q.xlsx
PA3/Data/Borglum/borglum_all.nc
PA3/Data/Risoe/risoe_m_all.nc
